# Python Bytecode
__pycache__/
*.py[cod]

# Environment Variables
.env
*.env

# Virtual Environments
venv/
env/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Coverage reports
htmlcov/
.coverage
*.cover
.hypothesis/
